.jac-none {
    display: none;
}

.jac-general {
    display: block !important;
}

.cus1 {
    background: #151729;
    color: #ffffff;
    padding-bottom: 5px;
}

.jac-notice {
    position: relative;
    margin: 1em;
    background: #F9F9F9;
    padding: 1em 1em 1em 2em;
    border-left: 4px solid #DDD;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
}

.jac-notice:before {
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: -17px;
    background-color: #DDD;
    color: #FFF;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    font-family: Georgia;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.jac-info {
    border-color: #0074D9;
}

.jac-info:before {
    content: "i";
    background-color: #0074D9;
}

.jac-success {
    border-color: #2ECC40;
}

.jac-success:before {
    content: "√";
    background-color: #2ECC40;
}

.jac-warning {
    border-color: #FFDC00;
}

.jac-warning:before {
    content: "!";
    background-color: #FFDC00;
}

.jac-error {
    border-color: #FF4136;
}

.jac-error:before {
    content: "X";
    background-color: #FF4136;
}

#woocommerce-coupon-data ul.wc-tabs li.jac_audio_options a::before,
#woocommerce-product-data ul.wc-tabs li.jac_audio_options a::before,
.woocommerce ul.wc-tabs li.jac_audio_options a::before {
    font-family: Dashicons;
    content: "\f514";
}